{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Closet</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cloths.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% csrf_token %}
</head>
<style> 
@media (max-width: 767px) {
    .image-card {
        width: 100%; /* Full width on smaller screens */
    }
}
    </style>
<body class="vh-100 m-0 p-0" style="background-color: #ecece2;">
    <header class="navbar navbar-dark fixed-top" style="background-color: #76b0e0;">
        <div class="fixed-top text-center p-1" style="background-color: #76b0e0;color: #000000; /* 30% grey */ z-index: 1;">
            <h2>DressRight</h2>
        </div>
    </header>
    <div class="container-fluid mt-3 pt-5" style="position: relative; z-index: 2;">
        <h1 class="text-center">All Outfit</h1>
    </div>
    <div class="image-container mt-5">
    {% for outfit in outfits %}
            {% if outfit.pk %}
            <div class="image-card">
                        <a href="{% url 'display_outfit' outfit_id=outfit.pk %}">
                            <img class="img-fluid" src="{% static 'images/outfit.png' %}">
                        </a>
                        <h4 class="text-center">{{outfit.name}}</h4>
                    </div>
            {% endif %}
        {% endfor %}
    </div>
    <h3 style="color: #ecece2;">© 2024 DressRight. All rights reserved.</h3>
    <h3 style="color: #ecece2;">© 2024 DressRight. All rights reserved.</h3>
    <div class="fixed-bottom bg-light p-2 mt-auto" style="position: fixed; bottom: 0; width: 100%; z-index: 3;">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-3 text-center">
                    <a href="/home" class="btn btn-light"><i style="color: #95c9f4;" class="fa fa-home fa-2x"></i></a>
                </div>
                <div class="col-3 text-center">
                    <a href="/cloths" class="btn btn-secondary"><i style="color: #95c9f4;" class="fa fa-suitcase fa-2x"></i></a>
                </div>
                <div class="col-3 text-center">
                    <a href="/upload" class="btn btn-light"><i style="color: #95c9f4;" class="fa fa-upload fa-2x"></i></a>
                </div>
                <div class="col-3 text-center">
                    <a href="/profile" class="btn btn-light"><i style="color: #95c9f4;" class="fa fa-user fa-2x"></i></a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>
