{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="vh-100 m-0 p-0">
    <header class="navbar navbar-dark bg-info fixed-top">
        <div class="fixed-top text-center bg-info p-1" style="color: black; z-index: 1;">
            <h2>DressRight</h2>
        </div>
    </header>
    <div class="container-fluid mt-3 pt-5" style="position: relative; z-index: 2;">
        <h1 class="text-center">Sign up Below</h1>
    </div>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card p-4">
                    {% for message in messages %}
                        <h5>{{ message }}</h5>
                    {% endfor %}
                    
                    <form method="POST" action="register">
                        {% csrf_token %}
                        <div class="mb-3">
                        <label for="username">UserName:</label>
                        {{ form.username }}<br>
                        </div>
                        <div class="mb-3">
                        <label for="email">Email:</label>
                        {{ form.email }}<br>
                        </div>
                        <div class="mb-3">
                        <label for="password1">Password:</label>
                        {{ form.password1 }}<br>
                        </div>
                        <div class="mb-3">
                        <label>Repeat Password:</label>
                        {{ form.password2 }}<br>
                        </div>
                        <input type="submit" class="btn btn-primary mt-3" value="Submit"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>
</body>
</html>
